:root{
  --1er-color: #05161A;
  --2do-color: #072E33;
  --3er-color: #0C7075;
  --4to-color: #0f989c;
  --5to-color: #6da5c0;
  --6to-color: #294D61;
  --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
}
display-flex, .signup-content, .signin-content{
  display: flex;
   }

img {
  max-width: 100%;
  height: auto; }

figure {
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
 }

p {
  font-size: 15px;
  color: #777; }

h2 {
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #fef3f3;
  font-family: var(--font);
  font-size: 36px;
  text-align: center; }

.main {
  padding: 0 0;
  margin: 0; 
  font-size: 15px;
font-family: var(--font);}


body {
  margin: 0;
  background: url(https://i.ibb.co/FD8pDWV/IMGP2.png) no-repeat fixed;
  background-size: cover;
  font-size: 13px;
  line-height: 1.8;
  color: #222;
  font-weight: 400px;
  font-family: var(--font); }

.container {
  width: 900px;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.5);
  border-radius: 20px; }

  /*Registro*/
.signup {
  margin-bottom: 150px;
}

.signup-content {
  margin-top: 15px;
  padding: 50px 0;
  background-color: rgba(15, 152, 156, 0.8);
  border-radius: 20px;
}

.signup-form, .signup-image, .signin-form, .signin-image {
  width: 50%;
  overflow: hidden; }

.signup-image {
  margin: 0 55px;
  margin-top: 45px;
}

.form-title {
  margin-bottom: 33px; }


.form-submit { /*Boton registro*/
  display: inline-block;
  background: var(--2do-color);
  color: white;
  border-bottom: none;
  width: auto;
  padding: 15px 39px;
  border-radius: 10px;
  margin-top: 25px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 var(--5to-color);
  transition: .3s ease-in;

}
  .form-submit:hover {
    background: var(--3er-color);
    border: 1px solid transparent;
    box-shadow: inset 300px 0 0 0 var(--3er-color); }
    

/*   Ingresar   */
#signin {
  margin-top: 16px;
 }

.signup-image-link { /*usuario registrado*/
  font-size: 19px;
  color: var(--1er-color);
  display: block;
  text-align: center; }

.signup-form {
  margin-left: 75px;
  margin-right: 75px;
  padding-left: 34px; }

.register-form {
  width: 100%; }

.form-group { /*boton*/
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
  text-align: center;
  border-radius: 20px;
}
 /***/


input { /*Diseno de los inputs*/
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--1er-color);
  padding: 6px 30px;
  font-family: var(--font);
  box-sizing: border-box;
  border-radius: 10px; }
      
#remember-me{ /*box recordar*/
  width: 10%;
  padding: 8px 10px;
  font-size: 30px;
}

/*  Ingresar   */
.signin-content {
  padding-top: 67px;
  padding-bottom: 87px;
  border-radius: 20px;
  background-color: rgba(15, 152, 156, 0.7);
}

.signin-form {
  margin-right: 90px;
  margin-left: 80px; }

.signin-image {
  margin-left: 110px;
  margin-right: 20px;
  margin-top: 10px; }
/***/
option {
  font-size: 1.4em; /* Cambiar este valor al deseado */
}


  /* MediaQuery*/
@media screen and (max-width: 1200px) {
  .container {
    width: calc( 100% - 30px);
    max-width: 100%; } }
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1200px; } }
@media screen and (max-width: 768px) {
  .signup-content, .signin-content {
    flex-direction: column;
    justify-content: center;}

  .signup-form {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding: 0 30px; }

  .signin-image {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
    order: 2;}

  .signup-form, .signup-image, .signin-form, .signin-image {
    width: auto; }

  .form-button {
    text-align: center; }

  .signin-form {
    order: 1;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0 30px; }

  .form-title {
    text-align: center; }
  }
     /* Fin MediaQuery*/